/***********************************************
Project Name: Educafe LMS;
Project Dirctor: Mr. X;
Client Name: LEDP;
Project Start Date: 04-15-2021;
Project Submission Date: 23-04-2021;
Total page: 7;
************************************************
Home Page Section:
-------------------
					1.TopBar
		  			2.Header
					3.Menu
					4.AboutUS
					5.facts
					6.card
					7.Newsletter
					8.Footer
					
***************************************************/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*****************************************************************
			Base CSS Start
******************************************************************/

body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*****************************************************************
			Base CSS End
******************************************************************/
/*****************************************************************
			Common CSS Start
******************************************************************/
:root{
	--primary-color: #56ab2f;
}

.primary-bg{
	background: #56ab2f !important;
}
.primary-color{
	color: #56ab2f !important;
}
.secondary-bg{
	background: #000022 !important;
}
.secondary-color{
	color: #000022 !important;
}
.primary-btn{
	background: #56ab2f !important;
	border: 1px solid #56ab2f !important;
	color: #f1f1f1 !important;
}
.primary-btn:hover{
	background: transparent !important;
	border: 1px solid #56ab2f !important;
	color: #000022 !important; 
}
.secondary-btn{
	background: transparent !important;
	border: 1px solid #56ab2f !important;
	color: #000022 !important; 
}
.secondary-btn:hover{
	background: #56ab2f !important;
	border: 1px solid #56ab2f !important;
	color: #f1f1f1 !important;
}

/*****************************************************************
			Common CSS End
******************************************************************/
/*****************************************************************
			Owl Carousel CSS Start
******************************************************************/

/*****************************************************************
			Owl Carousel CSS End
******************************************************************/
/*****************************************************************
			TopBar CSS Start
******************************************************************/
.topbar{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}
.topbar-left li{
	margin-left: 35px;

}
.topbar-left li:first-child{
	margin:0;
}
.topbar-right li:first-child::after{
	content:"|";
	color:#090;
	padding-left: 10px;
	font-weight: 300; 
padding-right: 10px;
 
}


/*****************************************************************
			TopBar CSS End
******************************************************************/
/*****************************************************************
			Header CSS Start
******************************************************************/
.margin-left-10{
	margin-left: -6px !important;
	font-size: 10px !important;
	margin-right: -3px !important;
	}
	.text-primary{
		color:#56ab2f !important;
	}
	.badge{
		background-color:#56ab2f !important;
	}
	.margin-left{
		margin-left:20px !important;
	}
	.nav-link{
		font-weight: bold !important;
		margin-right: 10px !important;
		font-size: 15px !important;
	}
	.navbar-nav {
		margin-right: 40px !important;
	}
	.navbar{
		height: 90px !important;
	}
	.nav-link:hover{
		color:#56ab2f !important;

	}


/*****************************************************************
			Header CSS End
******************************************************************/
/*****************************************************************
			Manu CSS Start
/*******************************************************************/
.menu{
	background: url('../img/overly-img/1.jpg');
	background-size: cover;
	color: #f1f1f1 !important;

	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu div{
	text-align: center;
}
/*.menu div h2{
	text-transform: uppercase;
}
*/.menu div span{
	color:#56ab2f !important;
}
/*****************************************************************
			Manu CSS End
******************************************************************/
/*****************************************************************
			AboutUS CSS Start
******************************************************************/
.principle{

	width: 80%;
	margin: 60px auto;
	margin-right: 0 !important;
}
.principle p{
	font-size: 13px;
	color: #999;
	text-align: justify;
	width: 85%;
	line-height: 160%;
}
.principle .part-1{
	display: flex;
	gap: 2rem !important;
}
.half-text{

	
	
}
.half-pic{
	position: relative;
}
.p-b{
	width: clamp(370px,500px,500px);
	height: 248px;
	position: relative;
	top: 0;
	left: 0px;
	background-size: cover;
}
.p-p{
	width: clamp(35%,40%,40%);
	height: 245px;
	position: absolute;
	top: 25px !important;
	right: 330px;
}
/*****************************************************************
			AboutUS CSS End
******************************************************************/
/*****************************************************************
			Course CSS Start
******************************************************************/


/*****************************************************************
			Course CSS End
******************************************************************/
/*****************************************************************
			Facts CSS Start
******************************************************************/
.facts{
	background: url('../img/facts/f-1.png');
	background-attachment: fixed;
}

/*****************************************************************
			Facts CSS End
******************************************************************/
/*****************************************************************
			Card CSStart
******************************************************************/

.row{
	display: flex;
	
	
	text-align: center;
}
.col-md-3{
	width: 240px;
}
.card{
	border: 1px solid var(--primary-color);
	margin-bottom: 20px;
	border-radius: 0px;


}
 .card img{
	height: 240px;
} 
.card-head p,h6{
	margin-top: 0;
	margin-bottom: 0;
}
.card-head{
	margin: 0 0 5px 0;
	padding: 10px;
	border-bottom: 1px solid var(--primary-color);
}
.card-body{
	padding: 5px;
}
.card-body p{
	font-size: 14px;
}
.text{
	text-align: center;
}
.d-flex{
	width: 100%;
}
.part-img{
	width: 100%;

}
.part-img img{
	width: 100%;
	height: 240px;
}

 .footer-icon li{
	height: 38px;
	width: 38px;
	
	
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: -7px;
	
	margin-bottom: 15px;
}
.footer-icon li:hover{
	background-color: #fff;
}
.footer-icon li:first-child{
		margin-top: 10px;
}
.footer-icon li a{
	
    padding: 10px;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    
}
.footer-icon li :hover{


	color: #56ab2f !important;
	
}
.footer-icon{
	align-content: center !important;
	margin-top: 25px !important;

}
.icon{
	position:relative;
	max-width:55px ;
	
	}
	.p-n{ 
		height: 30px;
		width: 30px;
		text-align: center;
		font-size: 15px;
		padding: 5px;

	}
	.button-{
		text-align: center;
		justify-content: center;
		justify-content: space-between;
     }
     .button- a:first-child{
     	margin-right: 5px;
     }



/*****************************************************************
			Card CSS End
*****************************************************************
/*****************************************************************
			Testimonial CSS Start
*****************************************************************

/*****************************************************************
			Testimonial CSS End
******************************************************************/
/*****************************************************************
			Newsletter CSS Start
******************************************************************/


/*****************************************************************
			Newsletter CSS End
******************************************************************/
/*****************************************************************
			Footer CSS Start
******************************************************************/


/*****************************************************************
			Footer CSS End
*****************************************************************