/***********************************************
Project Name: Educafe LMS;
Project Dirctor: Mr. X;
Client Name: LEDP;
Project Start Date: 04-15-2021;
Project Submission Date: 23-04-2021;
Total page: 7;
************************************************
Home Page Section:
-------------------
					1.TopBar
		  			2.Header
					3.Menu
					4.AboutUS
					5.facts
					6.card
					7.Newsletter
					8.Footer
					
***************************************************/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*****************************************************************
			Base CSS Start
******************************************************************/

body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0 !important;
	padding: 0;
}

/*****************************************************************
			Base CSS End
******************************************************************/
/*****************************************************************
			Common CSS Start
******************************************************************/
:root{
	--primary-color: #56ab2f;
}

.primary-bg{
	background: #56ab2f !important;
}
.primary-color{
	color: #56ab2f !important;
}
.secondary-bg{
	background: #000022 !important;
}
.secondary-color{
	color: #000022 !important;
}
.primary-btn{
	background: #56ab2f !important;
	border: 1px solid #56ab2f !important;
	color: #f1f1f1 !important;
}
.primary-btn:hover{
	background: transparent !important;
	border: 1px solid #56ab2f !important;
	color: #000022 !important; 
}
.secondary-btn{
	background: transparent !important;
	border: 1px solid #56ab2f !important;
	color: #000022 !important; 
}
.secondary-btn:hover{
	background: #56ab2f !important;
	border: 1px solid #56ab2f !important;
	color: #f1f1f1 !important;
}

/*****************************************************************
			Common CSS End
******************************************************************/
/*****************************************************************
			Owl Carousel CSS Start
******************************************************************/
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    font-size: 45px;
   	color: #000022;
   	top: 40%;
}
.owl-carousel .owl-nav button.owl-next{
	right: -5%;
}
.owl-carousel .owl-nav button.owl-prev{
	left: -5%;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
	color: #56ab2f !important;
	background-color: transparent;
}
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus{
	background-color: transparent;
	outline: none; 
}
/*****************************************************************
			Owl Carousel CSS End
******************************************************************/
/*****************************************************************
			TopBar CSS Start
******************************************************************/
.topbar{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	display: flex;
}
.topbar-left li{
	margin-left: 35px;
	

}
.topbar-left li:first-child{
	margin:0;
}
.topbar-right li:first-child::after{
	content:"|";
	color:#4a9e23;
	padding-left: 10px;
	font-weight: 300; 
padding-right: 10px;
font-size: 30PX;

 
}
.topbar-right{
	display: flex;
}
.topbar-right li:last-child{
	margin-top: 5px;
}

/*****************************************************************
			TopBar CSS End
******************************************************************/
/*****************************************************************
			Header CSS Start
******************************************************************/



/*****************************************************************
			Header CSS End
******************************************************************/
/*****************************************************************
			Manu CSS Start

/*****************************************************************
			Manu CSS End
******************************************************************/
/*****************************************************************
			AboutUS CSS Start
******************************************************************/

/*****************************************************************
			AboutUS CSS End
******************************************************************/
/*****************************************************************
			Course CSS Start
******************************************************************/


/*****************************************************************
			Course CSS End
******************************************************************/
/*****************************************************************
			Facts CSS Start
******************************************************************/


/*****************************************************************
			Facts CSS End
******************************************************************/
/*****************************************************************
			Card CSStart
******************************************************************/





/*****************************************************************
			Card CSS End
*****************************************************************
/*****************************************************************
			Testimonial CSS Start
*****************************************************************

/*****************************************************************
			Testimonial CSS End
******************************************************************/
/*****************************************************************
			Newsletter CSS Start
******************************************************************/


/*****************************************************************
			Newsletter CSS End
******************************************************************/
/*****************************************************************
			Footer CSS Start
******************************************************************/


/*****************************************************************
			Footer CSS End
*****************************************************************